@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: "Inter", sans-serif;
  padding: 0;
  margin: 0;
  color: #c4c1d0;
  background: #141627;
}

#submenu {
  display: none;
}

.bg-elements {
  background: #24293e;
}

/* SCROLL TABLE */
body {
  overflow: scroll;
  overflow-x: hidden;
  transition: 1s;
  height: 98vh;
}

body::-webkit-scrollbar {
  width: 7px;
}

/* Handle on hover */
body::-webkit-scrollbar-thumb {
  background: #94a3b8;
}

@media (min-width: 1024px) {
  body {
    overflow: hidden;
    overflow-y: hidden;
  }

  #bottom-navigation {
    display: none;
  }
  #submenu {
    display: block;
  }
}

.bg-menu {
  background: #021c25;
}
.bg-active {
  background: #3b3170;
}

.bg-active-hover:hover {
  background: #3b3170;
}

/* SCROLL OUTPUT TRACKS */
.scroll-files {
  overflow: scroll;
  overflow-x: hidden;
  transition: 1s;
}
.scroll-files::-webkit-scrollbar {
  width: 10px;
}
/* Handle on hover */
.scroll-files::-webkit-scrollbar-thumb {
  background: rgb(75 85 99 / 1);
}
